@import '_mixins.scss';
@import '_variables.scss';

.article-content {
  p {
    &:not(.caption_1):not(.caption_2):not(.caption_3):not(.caption_4) {
      @include font-size($body_large-font-sizes);
      color: nth($grey-dark, 5);
      margin-bottom: 44px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul
  ,ol {
    padding-left: 30px;
    @include font-size($body_large-font-sizes);
    color: nth($grey-dark, 5);

    li {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  blockquote {
    color: nth($grey-dark, 4);
    background-color: rgba(0, 0, 0, 0.02);
    padding: 20px 30px;
    @include font-size($blockquote-font-sizes);
    margin: 30px 0;

    footer {
      margin-top: 10px;
    }
  }

  .img__caption {
    @include font-size($body_normal-font-sizes);
  }

  h1
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 30px;
  }

  &__footer {
    &-top {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      margin: 60px 0 20px;
  
      &::after {
        @include delimiter;
      }
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    & > * {
      margin: 5px 10px 5px 0;
    }
  }

  &__date {
    color: nth($grey-dark, 4);
    margin-bottom: 5px;
    width: 100%;
  }

  &__author-block {
    display: flex;
    flex-wrap: wrap;
  }

}

@media (min-width: 680px) {
  .article-content {
    &__tags {
      margin-bottom: 0; 
      
      & > * {
        margin: 0 10px 0 0;
      }
    }

    &__date {
      width: auto;
    }
  }
}

@media (min-width: 768px) {
  .article-content {
    &__footer {
      &-top {
        margin: 80px 0px 20px;
        padding-bottom: 25px;
      }
    }
  }
}

@media (min-width: 992px) {
  .article-content {
    &__footer {
      &-top {
        margin: 100px 0px 25px;
        padding-bottom: 31px;
      }
    }
  }
}
