@import '_mixins.scss';
@import '_variables.scss';

$search-results-padings: (
  null: (20px, 30px, 20px),
  small: (25px, 35px, 20px),
  medium: (30px, 40px, 23px),
);

$search-header-margin: (
  null: (0, 0, 15px, 0),
  small: (0, 0, 18px, 0),
  medium: (0, 0, 20px, 0),
);

$search-header-paddings: (
  null: (0, 0, 20px, 0),
  small: (0, 0, 22px, 0),
  medium: (0, 0, 23.5px, 0),
);

$search-autor-margins: (
  null: (0, 0, 10px, 0),
  small: (0, 0, 12.5px, 0),
  medium: (0, 0, 15px, 0),
);

.search-results {
  position: fixed;
  top: 120px;
  right: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  @include element-indent($search-results-padings, 'padding');
  background-color: #fff;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  &.open {
    opacity: 1;
    z-index: 101;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include element-indent($search-header-margin, 'margin');
    @include element-indent($search-header-paddings, 'padding');
    
    &:after {
      @include delimiter;
    }
  }

  &__author {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include element-indent($search-autor-margins, 'margin');
    @include element-indent($search-header-paddings, 'padding');

    &:after {
      @include delimiter;
    }

    & > * {
      margin: 15px 15px 15px 0;

      &:last-child {
        margin: 0 auto 0 auto;
      }
    }
  }

  &__article {
    display: flex;
    position: relative;
    @include element-indent($search-autor-margins, 'margin');
    @include element-indent($search-header-paddings, 'padding');

    &:after {
      @include delimiter;
    }

    &-content {
      flex: 1;
    }

    &-img {
      display: none;
      width: 80px;
      min-width: 80px;
      height: 60px;
      min-height: 60px;
      border-radius: 5px;
    }

    &-header {
      color: nth($grey-dark, 4);
    }

    &-header,
    &-body {
      display: flex;
      justify-content: space-between;
      margin-left: 0;
    }

    &-body {
      margin-top: 12px;

      a {
        color: inherit;
        text-decoration: none;
        transition: color 0.15s ease-in;

        &:visited {
          color: nth($grey-dark, 6);
        }

        &:hover {
          color: nth($accent3, 4);
        }
      }

      svg {
        margin-left: 25px;
        min-width: 14px;
        min-height: 21px;

        &:hover {
          @include svg-hover-effect;
        }
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: -0.3px;

      &:hover {
        @include text-hover-effect;
      }
    }
  }

  &__link {
    color: nth($grey-dark, 3);
    display: block;
    text-decoration: none;
    text-align: center;
    @include font-size($caption_2-font-sizes);
    transition: color 0.15s ease-in;

    &:visited {
      color: nth($grey-dark, 3);
    }

    &:hover {
      color: nth($accent3, 4);
    }
  }
}

@media (min-width: 375px) {
  .search-results {
    &__author {
      & > * {
        margin: 0 15px 0 0;

        &:last-child {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .search-results {
    &__article {
      &-img {
        display: block;
      }

      &-header,
      &-body {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .search-results {
    top: 75px;

    &__header {
      &:last-of-type {
        margin-top: 40px;
      }
    }
  }
}

@media (min-width: 992px) {
  .search-results {
    width: 580px;
    top: 75px;
    right: 110px;
  }
}
