$breakpoints: (
  small: 768px,
  medium: 992px,
  large: 1200px,
);

$font-stack: Inter, sans-serif;
$primary-color: #000000;
$hover-color: rgba(225, 29, 116, 1);
$ligth-text: rgba(0, 0, 0, 0.5);
$grey-dark: rgba(0, 0, 0, 0.8);
$ligth-border: 1.5px solid rgba(0, 0, 0, 0.05);

$accent1 : (
rgba(93, 140, 255, 0.1),
rgba(93, 140, 255, 0.3),
rgba(93, 140, 255, 0.8),
rgb(93, 140, 255),
rgb(84, 126, 230),
);

$accent2 : (
rgba(145, 209, 139, 0.1),
rgba(145, 209, 139, 0.3),
rgba(145, 209, 139, 0.8),
rgb(145, 209, 139),
rgb(130, 188, 125),
);

$accent3 : (
rgba(225, 29, 116, 0.1),
rgba(225, 29, 116, 0.3),
rgba(225, 29, 116, 0.8),
rgb(225, 29, 116),
rgb(202, 26, 104),
);

$accent4 : (
rgba(243, 137, 40, 0.1),
rgba(243, 137, 40, 0.3),
rgba(243, 137, 40, 0.8),
rgb(243, 137, 40),
rgb(219, 123, 36),
);

$grey-dark: (
rgba(0, 0, 0, 0.05),
rgba(0, 0, 0, 0.1),
rgba(0, 0, 0, 0.3),
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.8),
rgb(0, 0, 0),
);
