$breakpoints: (
  small: 768px,
  medium: 992px,
);

$font-stack: Inter, sans-serif;
$primary-color: #000000;
$hover-color: rgba(225, 29, 116, 1);
$ligth-text: rgba(0, 0, 0, 0.5);
$grey-dark: rgba(0, 0, 0, 0.8);
$ligth-border: 1.5px solid rgba(0, 0, 0, 0.05);
