@import '_variables.scss';

.breadcrumbs {
  display: flex;
  align-items: center;

  &__item {
    color: nth($grey-dark, 3);
    text-decoration: none;

    &.active {
      color: nth($grey-dark, 6);
    }

    &:visited {
      color: nth($grey-dark, 3);
    }
  }

  svg {
    margin: 0 13.5px;
  }
}
