@import '_variables.scss';
@import '_cards_general_style.scss';

.card_small {
  position: relative;
  width: 100%;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, 0.05);
  }

  &__img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65.85%;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;

    @include card_img;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: nth($grey-dark, 4);
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__author,
  &__date,
  &__description  {
    color: nth($grey-dark, 4);
    transition: color 0.15s ease-in;

    &:visited {
      color: nth($grey-dark, 4);  
    }
  }

  &__author {
    @include author;
  }

  &__title {
    margin-bottom: 15px;

    @include title_link;
  }

  &__description {
    margin-bottom: 25px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    color:  rgba(0, 0, 0, 0.3);
  }

  &__stats {
    @include stats;
  }

  &__category {
    @include category;
  }

  &__bookmark {
    height: 21px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      height: 100%;
      width: auto;

      path {
        transition: fill-opacity 0.15s ease-in, color 0.15s ease-in;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        path {
          fill-opacity: 1;
          fill: nth($accent3, 4);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .card_small {
    width: calc(50% - 15px);
    margin: 0 30px 40px 0;

    &:nth-of-type(2n) {
      margin: 0 0 40px 0;
    }
  }
}

@media (min-width: 992px) {
  .card_small {
    width: calc(33.33% - 20px);
    margin: 0 30px 40px 0;

    &:nth-of-type(2n) {
      margin: 0 30px 40px 0;
    }

    &:nth-of-type(3n) {
      margin: 0 0 40px 0;
    }
  }
}
