@import '_mixins.scss';
@import '_variables.scss';
@import '_cards_general_style.scss';


$card-hero-body-paddings: (
  null: (29px, 20px, 20px),
  small: (29px, 30px, 20px),
);

$card-hero-title-font-sizes: (
  null: (26px, 30px, -0.9px),
  small: (32px, 36px, -1.4px),
  medium: (48px, 54px, -1.6px),
);

.card_hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &__img {
    width: 100%;
    height: auto;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1, 1);
      transition: transform 0.2s ease-in;
  
      &:hover {
        cursor: pointer;
        transform: scale(1.025, 1.025);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    @include element-indent($card-hero-body-paddings, 'padding');
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__author,
  &__date,
  &__description  {
    color: nth($grey-dark, 4);
    transition: color 0.15s ease-in;

    &:visited {
      color: nth($grey-dark, 4);  
    }
  }

  &__author {
    @include author;
  }

  &__title {
    @include font-size($card-hero-title-font-sizes);

    margin-bottom: 15px;

    @include title_link;
  }

  &__description {
    margin-bottom: 26px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    color:  rgba(0, 0, 0, 0.3);
  }

  &__stats {
    @include stats;
  }

  &__category {
    @include category;
  }

  &__bookmark {
    height: 21px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      height: 100%;
      width: auto;

      path {
        transition: fill-opacity 0.15s ease-in, color 0.15s ease-in;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        path {
          fill-opacity: 1;
          fill: nth($accent3, 4);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .card_hero {
    flex-wrap: nowrap;

    &__img {
      min-width: 50%;
      height: auto;
    }
  }
}

@media (min-width: 1320px) {
  .card_hero {
    &__img {
      width: 50%;
      min-height: 550px;
      min-width: 630px;
    }
  }
}
