.card_hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__body {
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__author,
  &__date,
  &__description  {
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.15s ease-in;
  }

  &__author:hover {
    color:  rgba(225, 29, 116, 1);
  }

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 26px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    color:  rgba(0, 0, 0, 0.3);
  }

  &__stats {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 10px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;

    svg {
      margin-right: 4.5px;
    }
  }

  &__category {
    border-radius: 20px;
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0);   
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;

    &:hover {
      background-color: rgba(225, 29, 116, 0.1); 
      color:  rgba(225, 29, 116, 1);
    }
  }

  &__bookmark {
    height: 21px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      height: 100%;
      width: auto;

      path {
        transition: fill-opacity 0.15s ease-in, color 0.15s ease-in;
      }
    }

    &:hover {
      svg {
        path {
          fill-opacity: 1;
          fill: rgba(225, 29, 116, 1);
        }
      }
    }
  }
}

@media (min-width: 678px) {
  .card_hero {
    &__body {
      padding: 30px 30px 20px;
    }
  }
}

@media (min-width: 1200px) {
  .card_hero {
    flex-wrap: nowrap;

    img {
      width: 50%;
      height: auto;
    }
  }
}

@media (min-width: 1320px) {
  .card_hero {
    img {
      width: 50%;
      max-height: 550px;
      max-width: 630px;
    }
  }
}
