@import '_variables.scss';
@import '_cards_general_style.scss';

.card_slide {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  height: 100%;

  & * {
    outline-color: rgba(0, 0, 0, 0);
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, 0.05);
  }

  &__img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65.85%;
    margin-bottom: 20px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: nth($grey-dark, 4);
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__author,
  &__date,
  &__description  {
    color: nth($grey-dark, 4);
    transition: color 0.15s ease-in;

    &:visited {
      color: nth($grey-dark, 4);  
    }
  }

  &__author {
    @include author;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 28px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    color:  rgba(0, 0, 0, 0.3);
  }

  &__stats {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 10px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;

    svg {
      margin-right: 4.5px;
    }
  }

  &__category {
    @include category;
  }

  &__bookmark {
    height: 21px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      height: 100%;
      width: auto;

      path {
        transition: fill-opacity 0.15s ease-in, color 0.15s ease-in;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        path {
          fill-opacity: 1;
          fill: nth($accent3, 4);
        }
      }
    }
  }
}
