@import '_mixins.scss';
@import '_variables.scss';
@import '_cards_general_style.scss';


$card-hero-body-paddings: (
  null: (29px, 20px, 20px),
  small: (29px, 30px, 20px),
);

.card_hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;

  picture {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    @include element-indent($card-hero-body-paddings, 'padding');
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__author,
  &__date,
  &__description  {
    color: nth($grey-dark, 4);
    transition: color 0.15s ease-in;

    &:visited {
      color: nth($grey-dark, 4);  
    }
  }

  &__author {
    @include author;
  }

  &__title {
    margin-bottom: 15px;

    a,
    a:hover,
    a:active {
      text-decoration: none;
      color: inherit;
    }
  }

  &__description {
    margin-bottom: 26px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    color:  rgba(0, 0, 0, 0.3);
  }

  &__stats {
    @include stats;
  }

  &__category {
    @include category;
  }

  &__bookmark {
    height: 21px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      height: 100%;
      width: auto;

      path {
        transition: fill-opacity 0.15s ease-in, color 0.15s ease-in;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        path {
          fill-opacity: 1;
          fill: nth($accent3, 4);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .card_hero {
    flex-wrap: nowrap;

    picture {
      min-width: 50%;
      height: auto;
    }
  }
}

@media (min-width: 1320px) {
  .card_hero {
    picture {
      width: 50%;
      min-height: 550px;
      min-width: 630px;
    }
  }
}
