@import '_mixins.scss';
@import '_variables.scss';
@import '_cards_general_style.scss';

$card-medium-body-paddings: (
  null: (20px, 0),
  small: (0, 0, 20px, 30px),
  medium: (0, 0, 20px, 40px),
);

.card_medium {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto 40px;
  overflow: hidden;

  &__img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 63%;
    border-radius: 5px;

    @include card_img;
  }

  &__body {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    @include element-indent($card-medium-body-paddings, 'padding');

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: '';
      width: 100%;
      height: 1.5px;
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__author,
  &__date,
  &__description  {
    color: nth($grey-dark, 4);
    transition: color 0.15s ease-in;

    &:visited {
      color: nth($grey-dark, 4);  
    }
  }

  &__author {
    @include author;
  }

  &__title {
    margin-bottom: 15px;

    a {
      color: nth($grey-dark, 6);
      transition: color 0.15s ease-in;

      &:visited,
      &:active {
        color: nth($grey-dark, 6);
      }

      &:hover {
        cursor: pointer;
        color: nth($accent3, 4);
      }
    }
   
  }

  &__description {
    margin-bottom: 26px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    color:  rgba(0, 0, 0, 0.3);
  }

  &__stats {
    @include stats;
  }

  &__category {
    @include category;
  }

  &__bookmark {
    height: 21px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;

    svg {
      height: 100%;
      width: auto;

      path {
        transition: fill-opacity 0.15s ease-in, color 0.15s ease-in;
      }
    }

    &:hover {
      svg {
        path {
          fill-opacity: 1;
          fill: nth($accent3, 4);
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .card_medium {
    flex-wrap: nowrap;

    &__img {
      min-width: 50%;
      width: 50%;
      height: auto;
      padding-top: 0;
    }

    &__body {

      &::after {
        width: calc(100% - 30px);
      }
    }
  }  
}

@media (min-width: 1200px) {
  .card_medium {
    flex-wrap: nowrap;

    &__img {
      min-width: 40.31%;
      width: 40.31%;
      padding-top: 27.1%;
    }
  }
}

@media (min-width: 1320px) {
  .card_medium {
    &__img {
      width: 520px;
      padding-top: 340px;
    }
  }
}
