@import '_mixins.scss';
@import '_variables.scss';

$featured-fc-margins: (
  null: (0, 0, 40px, 0),
  small: (0, 0, 60px, 0),
  medium: (0, 0, 100px, 0),
);

.featured-page {
  .breadcrumbs {
    margin-bottom: 20px;
  }

  .flex-container {
    @include element-indent($featured-fc-margins, 'margin');
  }
}
