.footer {
  background: #000000;
  color: #ffffff;
  padding: 45px 30px 30px;

  &__inner {
    max-width: 1290px;
    margin: auto;
  }

  &__logocolumn {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    min-width: 0;
    width: 100%;
    margin-bottom: 24px;
  }

  &__main-heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
  }

  &__heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    a {
      text-decoration: none;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .footer__column {
      .footer__text {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    align-items: center;

    .footer__text {
      margin-right: auto;
      width: 100%;
      text-align: center;
      order: 2;
    }
  }

  &__icon {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
    order: 1;
    margin-bottom: 24px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);

      svg {
        fill: rgba(0, 0, 0, 0.8);
      }
    }

    &:last-child {
      margin-right: 0;
    }
    
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: #ffffff;
      transition: fill 0.15s ease-in;
    }
  }
}

@media (min-width: 375px) {
  .footer {
    &__bottom {
      justify-content: flex-start;

      .footer__text {
        margin-right: auto;
        width: auto;
        text-align: left;
        order: 1;
      }
    }

    &__icon {
      order: 2;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 80px 30px;

    &__logocolumn {
      justify-content: flex-start;
    }

    &__column {
      width: calc(50% - 15px);
      margin-right: 30px;
      align-items: flex-start;

      &:nth-child(2n+1) {
        margin-right: 0;
      }
    }

    &__main-heading {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.5px;
    }
  
    &__heading {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.6px;
      margin-bottom: 20px;
    }
  
    &__text {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -0.3px;
      color: rgba(255, 255, 255, 0.5);
    }

    &__icon {
      width: 50px;
      height: 50px;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 60px 100px 30px;

    &__column {
      width: calc(25% - 22.5px);
      margin-bottom: 0;

      &:nth-child(2n+1) {
        margin-right: 30px;
      }
  
      &:nth-child(4n+1) {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 60px 30px 30px;
  }
}

@media (min-width: 1270px) {
  .footer {
    &__logocolumn {
      width: auto;
      margin-bottom: 0;
    }

    &__column {
      width: auto;
      min-width: 190px;
    }
  }  
}
