@import '_mixins.scss';
@import '_variables.scss';

$menu-main-text: (
  null: (16px, 20px, -0.5px),
  small: (16px, 20px, -0.5px),
);

.menu_main {
  top: 0;
  position: sticky;
  margin-bottom: 30px;
  background-color: #fff;
  z-index: 100;
  transition: opacity 0.3s ease-in, top 0.3s ease-in;
  opacity: 1;

  &.scrolled {
    opacity: 0.75;
    backdrop-filter: blur(5px);
  }

  &__container {
    position: relative; 
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    height: auto;
    @include for-collapsed-content;
  
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 1.5px;
      background: rgba(0, 0, 0, 0.05);
    }
  } 
  
  &__open-button {
    margin-right: 15px;
    display: flex;
    align-items: center;
    color: nth($grey-dark, 6);
    
    p {
      display: none;
    }

    svg {
      margin-right: 10px;

      path {
        transition: fill 0.15s ease-in;
      }

      &:hover {
        @include svg-hover-effect;
      }
    }
  }
  
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex: 1;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: nth($grey-dark, 6);
    z-index: 10;

    &:visited,
    &:active {
      color:nth($grey-dark, 6);
    }  
  }
  
  &__user-block {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 15px;
    overflow: hidden;
    z-index: 11;
    background-color: #fff;

    &-item {
      display: none;
      flex-direction: column;
      justify-content: center;
      height: 50px;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }
      
    &-search {
      position: relative;
      display: flex;
      @extend .menu_main__user-block-item;
      border-radius: 30px;
      border: 1.5px solid rgba(0, 0, 0, 0); 
      padding-right: 34px;
      width: 0;
      max-width: 100%;
      transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out;

      /* clears the ‘X’ from Internet Explorer */
      input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
      input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
      /* clears the ‘X’ from Chrome */
      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration { display: none; }
      
      input {
        color: nth($grey-dark, 3);
        border: none;
        width: 0;
        padding: 0;
        opacity: 0;

        &::placeholder {
          color: nth($grey-dark, 3);
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
      }

      &.open {
        border: 1.5px solid nth($grey-dark, 1);
        overflow: hidden;
        width: 360px;
        max-width: 100%;
        background-color: #fff;
        color: nth($grey-dark, 6);

        svg,
        svg:hover {
          path {
            fill: nth($grey-dark, 3);
          }
        }

        input {
          color: nth($grey-dark, 6);
          width: 100%;
          padding: 0 0 0 47px;
          opacity: 1;
        }
      }
    }

      svg {
        path {
          transition: fill 0.15s ease-in;
        }
  
        &:hover {
          @include svg-hover-effect;
        }
      }
    }
  }
  
  &__dropdown {
    @include for-collapsed-content;
    width: 100%;
    background-color: #fff;
    padding: 0 30px;
    z-index: 100;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.08);

    &-inner {
      display: flex;
      flex-wrap: wrap;
      max-width: 1290px;
      margin: 15px auto 10px;
      flex: 1;
      transition: flex 0.5s ease-in-out;
      height: auto;
    }
  }

  &__main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;

    .lead, .lead_medium {
      font-size: 17px;
      line-height: 20px;
      letter-spacing: -0.3px;
    }

    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .col {
      position: relative;

      &:nth-child(3n + 0) {
        margin-right: 0;
      }
    }
  }

  &__articles {
    &-section {
      display: none;
      flex-grow: 1;
      margin-top: 10px;

      .lead, .lead_medium {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.4px;
      }
    }

    &-link {
      text-decoration: none;
      display: inline-block;
      color: nth($grey-dark, 4);
      width: 100%;
      text-align: center;
      @include font-size($menu-main-text);
      transition: color 0.15s ease-out;

      &:visited {
        color: nth($grey-dark, 4);
      }

      &:hover {
        @include text-hover-effect;
      }
    }
  }
  
  &__list-title {
    display: block;
    margin-bottom: 10px;
    position: relative;
    color: $primary-color;
    transition: color 0.15s ease-in;
    text-decoration: none;

    &.open {
      &::before {
        display: inline-block;
        content: '';
        width: 7px;
        height: 7px;
        border-style: solid;
	      border-width: 2px 2px 0 0;
	      display: inline-block;
	      position: relative;
	      transform: rotate(-135deg);
        vertical-align: middle;
        margin-right: 10px;
        top: -1px;
        left: 5px;
      }
    }

    &:not(.disable):visited, 
    &:not(.disable):active {
      color: $primary-color;
      cursor: pointer;
      text-decoration: none;
    }

    &:not(.disable):hover {
      color: $hover-color;
      cursor: pointer;
    }

    &:after {
      @include delimiter;
      left: 0;
      bottom: -5px;
    } 
  }

  ul#{&}__list {
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
    height: 0;
    overflow: hidden;

    &.open {
      height: auto;
      
      li {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    li {
      @include font-size($menu-main-text);
      font-weight: 400;
      color: nth($grey-dark, 5);
      margin-bottom: 5px;
      transition: color 0.15s ease-in;
      transform: translateX(-100px);
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      opacity: 0;

      @for $i from 1 through 15 {
        &:nth-child(1n + #{$i}) {
          transition-delay: #{(0.025 * $i)}s;
        }
      }

      a {
        position: relative;
        color: inherit;
        text-decoration: none;
        transition: color 0.15s ease-in, margin-left 0.15s ease-in;
        margin-left: 0;
      }

      &:hover a {
        cursor: pointer;
        color: $hover-color;
        margin-left: 3px;
      }
    }
  }

  .collapsible {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 75px);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__article {
    display: flex;
    position: relative;
    margin-bottom: 20px;

    &:first-of-type {
      margin-top: 20px;
    }

    &:after {
      @include delimiter;
      left: 0;
      bottom: -10px;
    }

    img {
      display: block;
      width: 80px;
      height: 60px;
      margin-right: 20px;
      border-radius: 5px;
    }

    &-header {
      color: nth($grey-dark, 4);
    }

    &-header,
    &-body {
      display: flex;
      justify-content: space-between;
    }

    &-body {
      margin-top: 12px;

      a {
        color: inherit;
        text-decoration: none;
      }

      svg {
        display: none;

        &:hover {
          @include svg-hover-effect;
        }
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: -0.3px;
      transition: color 0.15s ease-out;

      &:hover {
        @include text-hover-effect;
      }
    }
  }
}

@media (min-width: 576px) {
  .menu_main {
    &__user-block {
       &-item {
         display: flex;
         margin-right: 27px;
       } 
    }

    &__mobile-item {
      display: none;
    }

    &__list-title {
      margin-bottom: 10px;

      &::after {
        bottom: -5px;
      }
    }
  }
}

@media (min-width: 680px) {
  .menu_main {
    &__dropdown {
      &-inner {
        margin: 20px auto 30px;
      }
    }

    &__main-section,
    &__articles-section {
      .lead, .lead_medium {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.4px;
      } 
    }
  }
}

@media (min-width: 768px) {
  .menu_main {
    &__container {
      height: 80px;
    }
   
    &__dropdown {
      &-inner {
        flex-direction: row;
        margin: 30px auto 40px;
      }
    }

    &__open-button {
      margin: 0;

      p {
        display: block;
      }
    }

    &__logo {
      margin: 0;
      text-align: center;
    }

    &__user-block {
      margin: 0;
    }

    &__main-section {
      width: calc(50% - 15px);
      margin-right: 30px;
    }

    &__articles-section {
      display: block;
      width: calc(50% - 15px);
      margin-top: 0;
    }

    &__article {
      &:first-of-type {
        margin-top: 0;
      }

      img {
        display: none;
      }
    }

    &__list-title {
      font-size: 20px;
      line-height: 24px;
    }

    .collapsible {
      max-height: auto;
    }
  }
}

@media (min-width: 992px) {
  .menu_main {
    &__dropdown {
      &-inner {
        flex-wrap: nowrap;
      }
    }

    &__main-section {
      flex-direction: row;
      width: calc(80% - 30px);
      margin-right: 30px;

      .lead, .lead_medium {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.5px;
      }  
    }

    &__articles-section {
      .lead, .lead_medium {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.5px;
      } 
    }

    &__list-title {
      cursor: auto;

      &:not(.disable):hover {
        color: inherit;
        cursor: auto;
      }
    }

    .row {
      flex-direction: row;
      margin-bottom: 20px;
    }

    .col {
      width: calc(33.33% - 20px);
      margin-right: 30px;
      margin-bottom: 20px;

      &:nth-child(n+3) {
        margin-bottom: 0;
      }
    }

    ul#{&}__list {
      height: auto;
      opacity: 1;
      margin-bottom: 20px;
      margin-bottom: 0;

      li {
        transition: unset;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1100px) {
  .menu_main {
    &__main-section {
      .row {
        margin-bottom: 40px;
      }

      .col {
        margin-bottom: 40px;

        &:nth-child(n+3) {
          margin-bottom: 0;
        }
      }
    }

    &__list-title {
      margin-bottom: 48.5px;
      font-size: 24px;
      line-height: 30px;

      &:after {
        bottom: -25px
      }
    }

    ul#{&}__list {
      li {
        margin-bottom: 10px;
      }
    }

    &__article {
      margin-bottom: 45px;

      &:after {
        bottom: -22px;
      }

      &:last-of-type {
        margin-bottom: 40px;
        &:after {
          bottom: -23px;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      &-header,
      &-body {
        display: flex;
        justify-content: space-between;
      }

      &-body {
        margin-top: 12px;

        svg {
          margin-left: 5px;
          min-width: 14px;
          display: block;
        }
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: -0.3px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .menu_main {
    &__dropdown {
      padding: 0 30px;

      &-inner {
        margin: 40px auto 50px;
      }
    }

    &__main-section {
      width: calc(65.1% - 50px);
      margin-right: 50px;

      .col {
        width: calc(33.33% - 33.33px);
        margin-right: 50px;
  
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__article {
      img {
        display: block;
      }
    }
  }
}
