@import '_mixins.scss';
@import '_variables.scss';

$menu-mian-text: (
  null: (16px, 20px, -0.5px),
  small: (16px, 20px, -0.5px),
);

.menu_main {
  top: 0;
  position: sticky;
  margin-bottom: 30px;
  background-color: #fff;
  z-index: 100;

  &__container {
    position: relative; 
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    @include for-collapsed-content;
  
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 1.5px;
      background: rgba(0, 0, 0, 0.05);
    }
  } 
  
  &__open-button {
    display: flex;
    align-items: center;
    
    p {
      display: none;
    }

    svg {
      margin-right: 10px;

      path {
        transition: fill 0.15s ease-in;
      }

      &:hover {
        @include svg-hover-effect;
      }
    }
  }
  
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  
  &__user-block {
    display: flex;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50px;
      margin-right: 27px;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }
      
    &-search {
      position: relative;
      display: flex;
      @extend .menu_main__user-block-item;
      border-radius: 30px;
      border: 1.5px solid rgba(0, 0, 0, 0); 
      padding-right: 34px;
      overflow: show;
      width: 0;
      max-width: 100%;
      transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out;

      input {
        color: rgba(0, 0, 0, 0.3);
        border: none;
        width: 0;
        padding: 0;
        opacity: 0;

        &::placeholder {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
      }

      &.open {
        border: 1.5px solid rgba(0, 0, 0, 0.05);
        overflow: hidden;
        width: 360px;
        max-width: 100%;
        background-color: #fff;

        svg {
          path {
            color: rgba(0, 0, 0, 0.3);
          }
        }

        input {
          width: 100%;
          padding: 0 0 0 47px;
          opacity: 1;
        }
      }
    }

      svg {
        path {
          transition: fill 0.15s ease-in;
        }
  
        &:hover {
          @include svg-hover-effect;
        }
      }
    }
  }
  
  &__dropdown {
    @include for-collapsed-content;
    width: 100%;
    background-color: #fff;
    padding: 0 30px;
    z-index: 100;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.08);

    &-inner {
      display: flex;
      flex-wrap: wrap;
      overflow:hidden;
      max-width: 1290px;
      margin: 30px auto 40px;
      flex: 1;
      transition: flex 0.5s ease-in-out;
      height: auto;
    }
  }

  &__main-section {
    width: 100%;
    margin-right: 0;

    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .col {
      position: relative;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__articles {
    &-section {
      flex-grow: 1;
      margin-top: 10px;
    }

    &-link {
      display: inline-block;
      color: $ligth-text;
      width: 100%;
      text-align: center;
      @include font-size($menu-mian-text);

      &:hover {
        @include text-hover-effect;
      }
    }
  }
  
  &__list-title {
    margin-bottom: 10px;
    position: relative;

    &:not(.disable):hover {
      color: $hover-color;
      cursor: pointer;
    }

    &:after {
      @include delimiter;
      left: 0;
      bottom: -5px;
    }
  }

  ul#{&}__list {
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
    height: 0;
    overflow: hidden;

    &.open {
      height: auto;
      
      li {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    li {
      @include font-size($menu-mian-text);
      font-weight: 400;
      color: nth($grey-dark, 5);
      margin-bottom: 5px;
      transition: color 0.15s ease-in;
      transform: translateX(-100px);
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      opacity: 0;

      @for $i from 1 through 15 {
        &:nth-child(1n + #{$i}) {
          transition-delay: #{(0.025 * $i)}s;
        }
      }

      &:hover {
        cursor: pointer;
        color: $hover-color;
      }
    }
  }

  .collapsible {
    position: absolute;
  }

  &__article {
    display: flex;
    position: relative;
    margin-bottom: 20px;

    &:first-of-type {
      margin-top: 20px;
    }

    &:after {
      @include delimiter;
      left: 0;
      bottom: -10px;
    }

    img {
      display: block;
      width: 80px;
      height: 60px;
      margin-right: 20px;
      border-radius: 5px;
    }

    &-header {
      color: $ligth-text;
    }

    &-header,
    &-body {
      display: flex;
      justify-content: space-between;
    }

    &-body {
      margin-top: 12px;

      svg {
        display: none;

        &:hover {
          @include svg-hover-effect;
        }
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: -0.3px;

      &:hover {
        @include text-hover-effect;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu_main {
    &__dropdown {
      padding: 0 80px;

      &_inner {
        flex-direction: row;
      }
    }

    &__open-button {
      p {
        display: block;
      }
    }

    &__main-section {
      width: calc(50% - 15px);
      margin-right: 30px;
    }

    &__articles-section {
      width: calc(50% - 15px);
      margin-top: 0;
    }

    &__article {
      &:first-of-type {
        margin-top: 0;
      }

      img {
        display: none;
      }
    }

    &__list-title {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (min-width: 992px) {
  .menu_main {
    &__dropdown {
      padding: 0 100px;

      &-inner {
        flex-wrap: nowrap;
      }
    }

    &__main-section {
      width: calc(80% - 30px);
      margin-right: 30px;
    }

    &__list-title {
      cursor: auto;

      &:not(.disable):hover {
        color: inherit;
        cursor: auto;
      }
    }

    .row {
      flex-direction: row;
      margin-bottom: 20px;
    }

    .col {
      width: calc(33.33% - 20px);
      margin-right: 30px;
    }

    ul#{&}__list {
      height: auto;
      opacity: 1;
      margin-bottom: 20px;
      margin-bottom: 0;

      li {
        transition: unset;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1100px) {
  .menu_main {
    &__main-section {
      .row {
        margin-bottom: 40px;
      }
    }

    &__list-title {
      margin-bottom: 48.5px;
      font-size: 24px;
      line-height: 30px;

      &:after {
        bottom: -25px
      }
    }

    ul#{&}__list {
      li {
        margin-bottom: 10px;
      }
    }

    &__article {
      margin-bottom: 45px;

      &:after {
        bottom: -22px;
      }

      &:last-of-type {
        margin-bottom: 40px;
        &:after {
          bottom: -23px;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      &-header,
      &-body {
        display: flex;
        justify-content: space-between;
      }

      &-body {
        margin-top: 12px;

        svg {
          margin-left: 5px;
          min-width: 14px;
          display: block;
        }
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: -0.3px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .menu_main {
    &__dropdown {
      padding: 0 30px;

      &-inner {
        margin: 40px auto 50px;
      }
    }

    &__main-section {
      width: calc(65.1% - 50px);
      margin-right: 50px;

      .col {
        width: calc(33.33% - 33.33px);
        margin-right: 50px;
  
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__article {
      img {
        display: block;
      }
    }
  }
}
