@import '_mixins.scss';
@import '_variables.scss';

%text-size-color {
  text-align: center;
  color: nth($grey-dark, 4);
}

$single-post-footer-margins: (
  null: (0, 0, 40px, 0),
  small: (0, 0, 60px, 0),
  medium: (0, 0, 100px, 0),
);

$single-post-footer-paddings: (
  null: (30px, 0, 0, 0),
  small: (40px, 0, 0, 0),
  medium: (50px, 0, 0, 0),
);

.single-post {
  &__header {
    margin-top: 20px;
  }

  &__icon-block {
    position: relative;

    &-inner {
      position: sticky;
      top: 130px;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }

    &-icon {
      position: relative;
      border: 1.5px nth($grey-dark, 1) solid;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin-bottom: 0;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      svg {
        color: nth($grey-dark, 3);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: auto;

        path {
          transition: fill 0.15s ease-in;
          fill: nth($grey-dark, 3);
        }

        &.fix-height {
          @extend svg;
          width: auto;
          height: 20px;
        }
      }

      &:hover {
       svg {
         path {
           fill: nth($accent3, 4);
         }
       }
      }
    }
  }

  .article-content {
    margin-bottom: 50px;
  }

  &__author {
    @extend %text-size-color;
    margin-bottom: 13px;
  }

  &__description {
    max-width: 630px;
    @extend %text-size-color;
    margin: 0 auto 50px;
  }

  &__title {
    text-align: center;
    margin-bottom: 15px;
  }

  &__footer {
    position: relative;
    @include element-indent($single-post-footer-margins, 'margin');
    @include element-indent($single-post-footer-paddings , 'padding');

    &:before {
      @include delimiter-before;
    }
  }
}

@media (min-width: 768px) {
  .single-post {
    &__header {
      &-left,
      &-center,
      &-right {
        padding: 0 80px;
      }
    }
  }
}

@media (min-width: 992px) {
  .single-post {
    &__header {
      &-left,
      &-center,
      &-right {
        padding: 0;
      }
    }
  }
}

@media (min-width: 1100px) {
  .single-post {
    &__icon-block {
      position: absolute;
      top: 20px;
      left: 0;
      height: 100%;
  
      &-inner {
        position: sticky;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 30px;
        margin-bottom: 70px;
      }

      &-icon {
        margin-bottom: 15px;
        margin-right: 0;
      }
    }  
  }
}

@media (min-width: 1200px) {
  .single-post {
    &__header {
      flex-direction: row;

      &-left {
        min-width: calc((100% - 850px)/2);
        order: 1;
        flex-direction: column;
      }

      &-center {
        order: 2;
      }

      &-right {
        min-width: calc((100% - 850px)/2);
        order: 3;
      }
    }
  }  
}

@media (min-width: 1330px) {
  .single-post {
    &__icon-block {
      &-inner {
        padding: 0;
      }
    }
  }
}
