@import '_mixins.scss';
@import '_variables.scss';

$h1-font-sizes: (
  null: (54px, 60px, -3.5px),
  small: (72px, 80px, -4.5px),
);

$h2-font-sizes: (
  null: (40px, 46px, -1.8px),
  small: (60px, 65px, -2.5px),
);

$h3-font-sizes: (
  null: (32px, 36px, -1.1px),
  small: (48px, 54px, -1.6px),
);

$h4-font-sizes: (
  null: (24px, 28px, -0.8px),
  small: (36px, 44px, -1.2px),
);

$h5-font-sizes: (
  null: (22px, 26px, -0.55px),
  small: (28px, 34px, -0.8px),
);

$caption_1-font-sizes: (
  null: (18px, 20px, -0.5px),
  small: (20px, 24px, -0.6px),
);

$caption_2-font-sizes: (
  null: (17px, 18px, -0.3px),
  small: (18px, 20px, -0.3px),
);

$caption_3-font-sizes: (
  null: (15px, 18px, -0.3px),
  small: (16px, 18px, -0.5px),
);

$caption_4-font-sizes: (
  null: (12px, 14px, -0.3px),
  small: (13px, 15px, -0.3px),
);

html {
  scroll-behavior: smooth;
}

body {
  font: 100% $font-stack;
  color: $primary-color;

}

a {
  text-decoration: none;
  color: inherit;

  &:visited,
  &:active {
    color: inherit;
  }
}

h1,
h5 {
  font-weight: 600;
}

h2,
h3,
h4,
.lead_medium {
  font-weight: 500;
}

.body_large,
.body_normal,
.body_small,
.lead {
  font-weight: 400;
}

.display {
  font-family: Inter, sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: -6px;
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

.lead,
.lead_medium {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

p {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.4px;
}

.body_large {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.6px;
}

.body_normal {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.body_small {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.4px;
}

.caption_1 {
  @include font-size($caption_1-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_1;
    font-weight: 500;
  }
}

.caption_2 {
  @include font-size($caption_2-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_2;
    font-weight: 500;
  }
}

.caption_3 {
  @include font-size($caption_3-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_3;
    font-weight: 500;
  }
}

.caption_4 {
  @include font-size($caption_4-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_4;
    font-weight: 500;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  min-height: 100vh;

  .content {
    flex-grow: 1;
    padding: 0 30px;
    max-width: 1290px;
    margin: auto;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .lead,
  .lead_medium {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
  }

  p {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.5px;
  }

  .body_large {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
  }
  
  .body_normal {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.7px;
  }
  
  .body_small {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.6px;
  }

  .wrap {
    .content {
      padding: 0 80px;
    }
  } 
}

@media (min-width: 992px) {
  .wrap {
    .content {
      padding: 0 100px;
    }
  }
}

@media (min-width: 1200px) {
  .wrap {
    .content {
      padding: 30px;
    }
  }
}

@media (min-width: 1320px) {
  .wrap {
    .content {
      padding: 0;
    }
  }
}
