@import '_mixins.scss';
@import '_variables.scss';
@import '_article_content.scss';

$classlist: '.caption_1', '.caption_2', '.caption_3', '.caption_4';

html {
  scroll-behavior: smooth;
}

body {
  font: 100% $font-stack;
  color: $primary-color;

}

a {
  color: inherit;
  color: nth($accent1, 3);

  &:visited,
  &:active {
    color: nth($accent1, 3);
  }
}

h1,
h5 {
  font-weight: 600;
}

h2,
h3,
h4,
.lead_medium {
  font-weight: 500;
}

.body_large,
.body_normal,
.body_small,
.lead {
  font-weight: 400;
}

.display {
  font-family: Inter, sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: -6px;
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

.lead,
.lead_medium {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

p {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.4px;
}

.body_large {
  @include font-size($body_large-font-sizes);
}

.body_normal {
  @include font-size($body_normal-font-sizes);
}

.body_small {
  @include font-size($body_small-font-sizes);
}

.caption_1 {
  @include font-size($caption_1-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_1;
    font-weight: 500;
  }
}

.caption_2 {
  @include font-size($caption_2-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_2;
    font-weight: 500;
  }
}

.caption_3 {
  @include font-size($caption_3-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_3;
    font-weight: 500;
  }
}

.caption_4 {
  @include font-size($caption_4-font-sizes);
  font-weight: 400;

  &_med {
    @extend .caption_4;
    font-weight: 500;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  min-height: 100vh;

  .outer {
    overflow: hidden;
  }

  .content {
    width: 100%;
    padding: 0 30px;
    max-width: 1290px;
    margin: 0 auto;

    &__thin {
      @extend .content;
      padding: 0 30px;
    }
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  &_cropped {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 58%;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }
  }

  &_round-borders {
    border-radius: 5px;

    img {
      border-radius: 5px;
    }
  }

  &_bottom-margin {
    margin-bottom: 50px;
  }

  &__caption {
    @include font-size($body_normal-font-sizes);
    color: nth($grey-dark, 3);
    text-align: center;
    margin: 15px 0 30px;
  }
}

.rounded-button {
  display: inline-block;
  border: 1.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 60px;
  background-color: #fff;
  height: 60px;
  outline: none;

  &_controls {
    @extend .rounded-button;
    width: 110px;
    display: flex;

    %controls {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 100%;
      cursor: pointer;
      
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        path {
          transition: fill-opacity 0.15s ease-in;
        }
      }

      &:hover {
        svg {
          @include svg-hover-effect;

          path {
            fill-opacity: 1;
          }
        }  
      }
    }

    &__prev {
      @extend %controls;

      svg {
        left: 24px;
      }
    }

    &__next {
      @extend %controls;

      svg {
        right: 24px;
      }
    }
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.notify {
  &_error {
    background-color: map-get($notify-colors, 'error')!important;
    color: #fff!important;
  }

  &_warning {
    background-color: map-get($notify-colors, 'warning')!important;
    color: #fff!important;
  }

  &_success {
    background-color: map-get($notify-colors, 'success')!important;
    color: #fff!important;
  }
}

@include indents('.p-l-', 'padding-left', $indent-breackpoints);
@include indents('.p-r-', 'padding-right', $indent-breackpoints);
@include indents('.p-t-', 'padding-top', $indent-breackpoints);
@include indents('.p-b-', 'padding-bottom', $indent-breackpoints);
@include indents('.m-l-', 'margin-left', $indent-breackpoints);
@include indents('.m-r-', 'margin-right', $indent-breackpoints);
@include indents('.m-t-', 'margin-top', $indent-breackpoints);
@include indents('.m-b-', 'margin-bottom', $indent-breackpoints);

.order {
  &-1 {
    order: 1;
  }

  &-2 {
    order: 2;
  }

  &-3 {
    order: 3;
  }
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .lead,
  .lead_medium {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
  }

  p {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.5px;
  }

  .wrap {
    .content {
      padding: 0 80px;
    }
  } 
}

@media (min-width: 910px) {
  .wrap {
    .content {
      &__thin {
        max-width: 850px;
        padding: 0;
      }
    }
  }  
}

@media (min-width: 992px) {
  .wrap {
    .content {
      padding: 0 100px;

      &__thin {
        padding: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .wrap {
    .content {
      padding: 0 30px;

      &__thin {
        padding: 0;
      }
    }
  }
}

@media (min-width: 1320px) {
  .wrap {
    .content {
      padding: 0;
    }
  }
}
