@import '_variables.scss';
@import '_mixins.scss';

$tag-font-sizes: (
  null: (14px, 18px, -0.4px),
  small: (15px, 18px, -0.5px),
);

.tag {
  @include font-size($tag-font-sizes);

  cursor: pointer;
  text-decoration: none;
  padding: 2px 10px;
  background-color: $tag-bg;
  color: nth($grey-dark, 3);
  border: 1px solid rgba(0, 0, 0 ,0);
  border-radius: 20px;
  display: inline-block;

  &:visited {
    color: nth($grey-dark, 3);
  }

  &:hover {
    cursor: pointer;
    background-color: nth($accent3, 1); 
    color:  nth($accent3, 4);
  }

  &_accent_1 {
    @extend .tag;
    background-color: nth($accent1, 1);
    color: nth($accent1, 5);

    &:visited {
      color: nth($accent1, 5);
    }

    &:hover {
      background-color: nth($accent1, 2); 
      color:  nth($accent1, 5);
    }
  }

  &_accent_2 {
    @extend .tag;
    background-color: nth($accent2, 1);
    color: nth($accent2, 5);

    &:visited {
      color: nth($accent2, 5);
    }

    &:hover {
      background-color: nth($accent2, 2); 
      color:  nth($accent2, 5);
    }
  }

  &_accent_3 {
    @extend .tag;
    background-color: nth($accent3, 1);
    color: nth($accent3, 5);

    &:visited {
      color: nth($accent3, 5);
    }

    &:hover {
      background-color: nth($accent3, 2); 
      color:  nth($accent3, 5);
    }
  }

  &_accent_4 {
    @extend .tag;
    background-color: nth($accent4, 1);
    color: nth($accent4, 5);

    &:visited {
      color: nth($accent4, 5);
    }

    &:hover {
      background-color: nth($accent4, 2); 
      color:  nth($accent4, 5);
    }
  }

  &_info {
    @extend .tag;
    background-color: #fff;
    border: 1px nth($grey-dark, 1) solid;

    &:hover {
      cursor: default;
      color: nth($grey-dark, 3);
      background-color: #fff;
    }
  }

  &_icon-left {
    @extend .tag;
    position: relative;
    padding-left: 24px;

    svg {
      position: absolute;
      width: 13.33px;
      height: auto;
      top: 50%;
      right: 55.3px;
      transform: translate(0, -50%);
    }
  }

  &_icon-right {
    @extend .tag;
    position: relative;
    padding-right: 24px;

    svg {
      position: absolute;
      width: 13.33px;
      height: auto;
      top: 50%;
      right: 55.3px;
      transform: translate(0, -50%);
    }
  }
}
