@import '_variables.scss';
@import '_mixins.scss';

$userr_window_paddings: (
  null: (20px, 30px, 20px),
  small: (30px, 40px, 23px),
);

$name-font-sizes: (
  null: (20px, 28px, -0.6px),
  small: (21px, 30px, -0.8px),
);


$login-font-sizes: (
  null: (15px, 18px, -0.4px),
  small: (16px, 20px, -0.5px),
);

.user_window {
  position: fixed;
  top: 75px;
  right: 30px;
  width: 278px;
  max-width: calc(100% - 60px);
  height: 245px;
  z-index: 1001;
  background-color: #fff;
  border: $ligth-border;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.08);
  opacity: 0;
  @include element-padding($userr_window_paddings);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;

  &.open {
    opacity: 1;
    z-index: 1;
  }

  &__avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__name {
    @include font-size($name-font-sizes);
    margin-bottom: 5px;
  }

  &__email {
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 23.5px;
  }

  &__login {
    @include font-size($login-font-sizes);
    color: rgba(0, 0, 0, 0.3);

    &:hover {
      @include text-hover-effect;
    }
  }

  &__delimiter {
    background: rgba(0, 0, 0, 0.05);
    height: 1.5px;
    min-height: 1.5px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 17px;
  }
}  
