.single-post__author, .single-post__description {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.single-post__header {
  margin-top: 20px;
}

.single-post__icon-block {
  position: relative;
}

.single-post__icon-block-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.single-post__icon-block-icon {
  position: relative;
  border: 1.5px rgba(0, 0, 0, 0.05) solid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 0;
  margin-right: 15px;
}

.single-post__icon-block-icon:last-child {
  margin-right: 0;
}

.single-post__icon-block-icon svg, .single-post__icon-block-icon svg.fix-height {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: auto;
}

.single-post__icon-block-icon svg path, .single-post__icon-block-icon svg.fix-height path {
  transition: fill 0.15s ease-in;
  fill: rgba(0, 0, 0, 0.3);
}

.single-post__icon-block-icon svg.fix-height {
  width: auto;
  height: 20px;
}

.single-post__icon-block-icon:hover svg path {
  fill: #e11d74;
}

.single-post .article-content {
  margin-bottom: 50px;
}

.single-post__author {
  margin-bottom: 13px;
}

.single-post__description {
  max-width: 630px;
  margin: 0 auto 50px;
}

.single-post__title {
  text-align: center;
  margin-bottom: 15px;
}

.single-post__footer {
  position: relative;
  margin: 0 0 40px 0;
  padding: 30px 0 0 0;
}

@media screen and (min-width: 768px) {
  .single-post__footer {
    margin: 0 0 60px 0;
  }
}

@media screen and (min-width: 992px) {
  .single-post__footer {
    margin: 0 0 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .single-post__footer {
    padding: 40px 0 0 0;
  }
}

@media screen and (min-width: 992px) {
  .single-post__footer {
    padding: 50px 0 0 0;
  }
}

.single-post__footer:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

@media (min-width: 768px) {
  .single-post__header-left, .single-post__header-center, .single-post__header-right {
    padding: 0 80px;
  }
}

@media (min-width: 992px) {
  .single-post__header-left, .single-post__header-center, .single-post__header-right {
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .single-post__icon-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .single-post__icon-block-inner {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 30px;
  }
  .single-post__icon-block-icon {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .single-post__header {
    flex-direction: row;
  }
  .single-post__header-left {
    min-width: calc((100% - 850px)/2);
    order: 1;
    flex-direction: column;
  }
  .single-post__header-center {
    order: 2;
  }
  .single-post__header-right {
    min-width: calc((100% - 850px)/2);
    order: 3;
  }
}

@media (min-width: 1330px) {
  .single-post__icon-block-inner {
    padding: 0;
  }
}
