<div class="breadcrumbs">
  <% breadcrumbsItems.forEach(function(item, index){ %>
    <a <% if (item.url != '') { %> href="<%= item.url %>" <% } %> class="caption_2_med breadcrumbs__item<%= item.class %>"> <%= item.text %> </a>
    <%if (index !== breadcrumbsItems.length - 1) { %> 
      <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.45079 4.5358L2.21079 0.295798C2.11783 0.20207 2.00723 0.127675 1.88537 0.0769067C1.76351 0.026138 1.6328 0 1.50079 0C1.36878 0 1.23807 0.026138 1.11622 0.0769067C0.994356 0.127675 0.883755 0.20207 0.790792 0.295798C0.604542 0.483161 0.5 0.736612 0.5 1.0008C0.5 1.26498 0.604542 1.51844 0.790792 1.7058L4.33079 5.2458L0.790792 8.7858C0.604542 8.97316 0.5 9.22661 0.5 9.4908C0.5 9.75498 0.604542 10.0084 0.790792 10.1958C0.884233 10.2885 0.995049 10.3618 1.11689 10.4116C1.23872 10.4613 1.36919 10.4866 1.50079 10.4858C1.6324 10.4866 1.76286 10.4613 1.8847 10.4116C2.00654 10.3618 2.11735 10.2885 2.21079 10.1958L6.45079 5.9558C6.54452 5.86283 6.61891 5.75223 6.66968 5.63037C6.72045 5.50852 6.74659 5.37781 6.74659 5.2458C6.74659 5.11379 6.72045 4.98308 6.66968 4.86122C6.61891 4.73936 6.54452 4.62876 6.45079 4.5358Z" fill="black" fill-opacity="0.3"/></svg>  
    <% } %>
  <% }); %>
</div>
