<footer class="footer">
  <div class="footer__column">
    <p class="footer__heading">Home</p>
    <p class="footer__text">Become Affiliate</p>
    <p class="footer__text">Go Unlimited</p>
    <p class="footer__text">Services</p>  
  </div>
  <div class="footer__column">
    <p class="footer__heading">Home</p>
    <p class="footer__text">Become Affiliate</p>
    <p class="footer__text">Go Unlimited</p>
    <p class="footer__text">Services</p>  
  </div>
  <div class="footer__column">
    <p class="footer__heading">Home</p>
    <p class="footer__text">Become Affiliate</p>
    <p class="footer__text">Go Unlimited</p>
    <p class="footer__text">Services</p>  
  </div>
  <div class="footer__column">
    <p class="footer__heading">Home</p>
    <p class="footer__text">Become Affiliate</p>
    <p class="footer__text">Go Unlimited</p>
    <p class="footer__text">Services</p>  
  </div>
</footer>
