.card_hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.card_hero img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_hero__body {
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card_hero__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card_hero__author, .card_hero__date, .card_hero__description {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in;
}

.card_hero__author:hover {
  color: #e11d74;
}

.card_hero__title {
  margin-bottom: 15px;
}

.card_hero__description {
  margin-bottom: 26px;
}

.card_hero__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  color: rgba(0, 0, 0, 0.3);
}

.card_hero__stats {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.card_hero__stats svg {
  margin-right: 4.5px;
}

.card_hero__category {
  border-radius: 20px;
  padding: 3px 10px;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0);
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.card_hero__category:hover {
  background-color: rgba(225, 29, 116, 0.1);
  color: #e11d74;
}

.card_hero__bookmark {
  height: 21px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 5px;
}

.card_hero__bookmark svg {
  height: 100%;
  width: auto;
}

.card_hero__bookmark svg path {
  transition: fill-opacity 0.3s ease-in, color 0.3s ease-in;
}

.card_hero__bookmark:hover svg path {
  fill-opacity: 1;
  fill: #e11d74;
}

@media (min-width: 678px) {
  .card_hero__body {
    padding: 30px 30px 20px;
  }
}

@media (min-width: 1200px) {
  .card_hero {
    flex-wrap: nowrap;
  }
  .card_hero img {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 1320px) {
  .card_hero img {
    width: 50%;
    max-height: 550px;
    max-width: 630px;
  }
}
