.footer {
  background: #000000;
  color: #ffffff;
  padding: 45px 30px 30px;
}

.footer__inner {
  max-width: 1290px;
  margin: auto;
}

.footer__logocolumn {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  min-width: 0;
  width: 100%;
  margin-bottom: 24px;
}

.footer__main-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.footer__heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__top {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__top a {
  text-decoration: none;
}

.footer__top a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer__top .footer__column .footer__text {
  margin-bottom: 16px;
}

.footer__top .footer__column .footer__text:last-child {
  margin-bottom: 0;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

.footer__bottom .footer__text {
  margin-right: auto;
  width: 100%;
  text-align: center;
  order: 2;
}

.footer__icon {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  order: 1;
  margin-bottom: 24px;
}

.footer__icon:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.footer__icon:hover svg {
  fill: rgba(0, 0, 0, 0.8);
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  transition: fill 0.3s ease-in;
}

@media (min-width: 375px) {
  .footer__bottom {
    justify-content: flex-start;
  }
  .footer__bottom .footer__text {
    margin-right: auto;
    width: auto;
    text-align: left;
    order: 1;
  }
  .footer__icon {
    order: 2;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 80px 30px;
  }
  .footer__logocolumn {
    justify-content: flex-start;
  }
  .footer__column {
    width: calc(50% - 15px);
    margin-right: 30px;
    align-items: flex-start;
  }
  .footer__column:nth-child(2n+1) {
    margin-right: 0;
  }
  .footer__main-heading {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  .footer__heading {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
  }
  .footer__text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer__icon {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 60px 100px 30px;
  }
  .footer__column {
    width: calc(25% - 22.5px);
    margin-bottom: 0;
  }
  .footer__column:nth-child(2n+1) {
    margin-right: 30px;
  }
  .footer__column:nth-child(4n+1) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 60px 30px 30px;
  }
}

@media (min-width: 1270px) {
  .footer__logocolumn {
    width: auto;
    margin-bottom: 0;
  }
  .footer__column {
    width: auto;
    min-width: 190px;
  }
}
