.main-page .menu_main {
  margin: 0 0 40px 0;
}

@media screen and (min-width: 768px) {
  .main-page .menu_main {
    margin: 0 0 45px 0;
  }
}

@media screen and (min-width: 992px) {
  .main-page .menu_main {
    margin: 0 0 50px 0;
  }
}

.main-page .show-more-block {
  margin: 30px 0 40px;
}

@media screen and (min-width: 768px) {
  .main-page .show-more-block {
    margin: 40px 0 60px;
  }
}

@media screen and (min-width: 992px) {
  .main-page .show-more-block {
    margin: 50px 0 100px;
  }
}

.main-page .headline {
  margin: 60px 0 30px;
}

@media screen and (min-width: 768px) {
  .main-page .headline {
    margin: 80px 0 35px;
  }
}

@media screen and (min-width: 992px) {
  .main-page .headline {
    margin: 100px 0 40px;
  }
}
