body {
  font: 100% Inter, sans-serif;
  color: #000000; }

h1,
h5 {
  font-weight: 600; }

h2, h2, h4 {
  font-weight: 500; }

.body_21,
.body_17,
.body_15 {
  font-weight: 400; }

.display {
  font-family: Inter, sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: -6px; }

h1 {
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -4.5px; }

h2 {
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2.5px; }

h3 {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -1.6px; }

h4 {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1.2px; }

h5 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.8px; }

p {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.4px; }

.body_large {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.6px; }

.body_normal {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.5px; }

.body_small {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.4px; }

.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  min-height: 100vh; }
  .wrap .content {
    flex-grow: 1;
    padding: 0 30px; }

@media (min-width: 768px) {
  .wrap .content {
    padding: 0 80px; }
  p {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.5px; }
  .body_large {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px; }
  .body_normal {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.7px; }
  .body_small {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.6px; } }

@media (min-width: 992px) {
  .wrap .content {
    padding: 0 100px; } }

@media (min-width: 1200px) {
  .wrap .content {
    padding: 0 155px; } }
