body {
  font: 100% Inter, sans-serif;
  color: #000000;
}

h1,
h5 {
  font-weight: 600;
}

h2,
h3,
h4,
.lead_medium {
  font-weight: 500;
}

.body_large,
.body_normal,
.body_small,
.lead {
  font-weight: 400;
}

.display {
  font-family: Inter, sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: -6px;
}

h1 {
  font-size: 54px;
  line-height: 60px;
  letter-spacing: -3.5px;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -1.8px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1.1px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.8px;
}

h5 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.55px;
}

.lead,
.lead_medium {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
}

p {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.4px;
}

.body_large {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.6px;
}

.body_normal {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.body_small {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.4px;
}

.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  min-height: 100vh;
}

.wrap .content {
  flex-grow: 1;
  padding: 0 30px;
  max-width: 1290px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -4.5px;
  }
  h2 {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2.5px;
  }
  h3 {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.6px;
  }
  h4 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1.2px;
  }
  h5 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.8px;
  }
  .lead,
  .lead_medium {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.5px;
  }
  .body_large {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
  }
  .body_normal {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.7px;
  }
  .body_small {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.6px;
  }
  .caption_1, .caption_1_med {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-align: left;
  }
  .caption_1_med {
    font-weight: 500;
  }
  .caption_2, .caption_2_med {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-align: left;
  }
  .caption_2_med {
    font-weight: 500;
  }
  .caption_3, .caption_3_med {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.5px;
    text-align: left;
  }
  .caption_3_med {
    font-weight: 500;
  }
  .caption_4, .caption_4_med {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.2px;
    text-align: left;
  }
  .caption_4_med {
    font-weight: 500;
  }
  .wrap .content {
    padding: 0 80px;
  }
}

@media (min-width: 992px) {
  .wrap .content {
    padding: 0 100px;
  }
}

@media (min-width: 1200px) {
  .wrap .content {
    padding: 30px;
  }
}

@media (min-width: 1320px) {
  .wrap .content {
    padding: 0;
  }
}
