.terms-and-conditions-page .breadcrumbs {
  margin-bottom: 30px;
}

.terms-and-conditions-page__title {
  margin-bottom: 30px;
}

.terms-and-conditions-page .article-content {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .terms-and-conditions-page .breadcrumbs {
    margin-bottom: 40px;
  }
  .terms-and-conditions-page__title {
    margin-bottom: 40px;
  }
  .terms-and-conditions-page .article-content {
    margin-bottom: 135px;
  }
}
